<%= form_for(@movie) do |f|%>
    <p>Title: <%= f.text_field(:title)%></p>
    <p>Released At:<%= f.datetime_select(:released_on, start_year: 1980)%></p>
    <p><%= f.submit('Update the movie')%></p>
<% end %>